@font-face {
    font-family: 'Myriam';
    src: url(../fonts/MyriadPro-LightCond.otf);
}

@font-face {
    font-family: 'Myriam';
    font-weight: bold;
    src: url(../fonts/MyriadPro-BoldCond.otf);
}

@font-face {
    font-family: 'Myriam';
    font-weight: 100;
    src: url(../fonts/MyriadPro-Cond.otf);
}