.popup{
	width: 100vw;
	height: 100vh;
	z-index: -1;
	opacity: 0;
	background-color: $black-alpha;
	@include flex(flex);
	@include justify-content(center);
	@include align-items(center);
	@include center-absolute(fixed);
	@include transition((opacity .5s ease));
	@include perspective(1000px);

	&.open{
		opacity: 1;
		z-index: 100;

		.container{
			opacity: 1;
			@include transform(rotatey(0deg));

			&.hide{
				display: none;
			}

			&.show{
				display: block;
				@include transform(translatey(-150%));
			}

			&.out{
				opacity: 0;
				@include transform(translatey(-150%));
			}

			&.in{
				opacity: 1;
				@include transform(translatey(0%));
			}
		}
	}

	&[cotizador]{
		.container{
			&[choose]{
				width: 80%;
				height: 80%;
				max-height: 515px;
			}
		}

		.contentLogin{

			&.table{
				&:nth-child(1),
				&:nth-child(2){
					.form-group{
						&:last-child{
							display: block;
						}
					}
				}

				&:last-child{
					margin: 2rem auto 1rem;
				}

				.form-group{
					margin: 0;

					&:last-child{
						max-width: initial;
					}
				}
			}
		}
	}

	img{
		width: 80%;
    margin: 0 auto;
    display: block;
	}

	.closePopup{
		position: absolute;
	    top: 2rem;
	    right: 3rem;
	    font-size: 2rem;
		color: $white;
		z-index: 2;
		cursor: pointer;
		@include transition(all .25s ease);
		@include text-shadow(0 0 10px #323232);

		&:hover{
			color: rgb(196, 197, 199);
			@include transform(rotate(180deg));
		}
	}

	.container{
		opacity: 0;
		display: none;
		background: $white;
		@include border-radius(2px);
		@include box-shadow(0 0 20px rgba(0,0,0,.3));
		@include transform(rotatey(120deg));
		@include transition((transform .75s ease,opacity .35s linear));
		
		&[choose]{
			width: 70%;
			height: 50%;
			display: block;
		}

		&[individual],
		&[group]{
			width: 75%;
			height: 85%;
		}

		&[group]{
			max-height: 555px;
		}

		&[individual]{
			height: 570px;
			max-width: 95%;
		}

		&[individual],
		&[group]{
			@include transform(translatey(-150%));
		}

		&[services]{
			width: 90%;
			height: 90%;
			display: block;
		    max-height: 580px;
		}

		.choose{
			width: 100%;
			height: 100%;
			@include flex(flex);

			> div{
				text-align: center;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				@include flex-item(1);
				@include flex(flex);
				@include align-items(center);
				@include justify-content(center);

				&:first-child{
					background-color: $blue;

					&:before{
						left: 0;
						@include transform(skewx(-34deg) translatex(-200%));
					}

					&:hover{
						&:before{
							@include transform(skewx(-34deg) translatex(-20%));
						}
					}
				}

				&:last-child{
					background-color: $gray;

					&:before{
						right: 0;						
						@include transform(skewx(34deg) translatex(200%));
					}

					&:hover{
						&:before{
							@include transform(skewx(34deg) translatex(22%));
						}
					}
				}

				&:before{
					position: absolute;
					top: 0;
					width: 180%;
					height: 100%;
					background: $white-alpha;
					content: '';
					@include transition(transform .2s ease);
				}

				h1, i{
					color: $white;
					font-size: 5rem;
					@include text-shadow(0 0 5px rgba(0,0,0,.4));
					@include transition((transform .15s ease, opacity .25s ease));
				}

				h1{
					@include transform(rotate(-15deg));
				}

				i{
					position: absolute;
					bottom: .5rem;
					right: .5rem;
					font-size: 7.5rem;
					@include transform-origin(bottom right);
				}

				&:hover{
					h1{
						@include transform(rotate(-18deg) scale(1.18));
					}

					i{
						opacity: .15;
						@include transform(scale(2));
					}
				}

			}
		}

		.individualContent,
		.groupContent{
			width: 100%;
			height: 100%;
		}
		.groupContent{
			background: $blue;

			header{
				background: $white;
			}
		}
	}
}

.backSection{
	position: absolute;
	width: 40px;
	height: 40px;
	background: $blue;
	color: white;
	font-size: 25px;
  cursor: pointer;
  top: .5rem;
  left: .5rem;
  text-align: center;
  line-height: 43px;
	@include border-radius(50%);
	@include box-shadow(1px 1px 8px rgba(0,0,0,.3));
	@include transition((transform .35s ease-in-out, box-shadow .5s ease));

	&:hover{
		@include box-shadow(1px 1px 12px rgba(0,0,0,.3));
		@include transform(rotate(-360deg));
	}
}