@media (max-width: 1050px){
	nav ul{
		padding: 2rem;
	}
}

@media (max-width: 930px){
	nav ul{
		padding: 1.5rem 1rem;
	}
	.contentArticle{
		max-height: 70%;
	}

	.popup{

		.closePopup{
	    top: 1.5rem;
	    right: 1.5rem;
	    font-size: 1.5rem;
		}

		.container{
			
			&[choose]{
				width: 90%;
				height: 60%;
			}

			&[individual],
			&[group]{
				width: 90%;
				height: 90%;
			}

			.choose{

				> div{

					h1, i{
						font-size: 3rem;
					}

					i{
						font-size: 5rem;
					}
				}
			}
		}
	}
}

@media (max-width: 900px){
	nav{
		ul{
			padding: 1.5rem .51rem;

			li{
				a{
					padding: .5rem 1rem;
			    min-height: 78px;

				}
		    &:nth-child(1){
		    	a{
		    		line-height: 2.5;
		    	}
		    }
			}
		}
	}
}

@media (max-width: 800px){
	.contentLogin{
		&.table {
			.form-group{
				padding: 0 .38rem;

				&:last-child{
					max-width: initial;
				}
			}
		}
	}
}

@media (max-width: 780px){
	nav{
		ul{
			padding: 1rem .251rem;

			li{
				a{
					padding: .5rem .51rem;
			    min-height: 50px;
			    margin: 0 .15rem;
				}
			}
		}
	}

	.contentArticle{
		max-width: 85%;
	}

	footer {
		ul{
			bottom: 4rem;
	    width: 100%;
	    padding: .51rem 1rem;
	  }
	}
}

@media (max-width: 700px){
	.popup{
		.closePopup{
	    top: 1rem;
	    right: 1rem;
		}

		.container{
			
			&[choose]{
				width: 90%;
				height: 80%;
			}

			&[individual],
			&[group]{
				width: 90%;
				height: 95%;
			}

			.choose{

				> div{

					&:first-child{
						&:hover{
							&:before{
								@include transform(skewx(-20deg) translatex(-20%));
							}
						}
					}

					&:last-child{
						&:hover{
							&:before{
								@include transform(skewx(20deg) translatex(22%));
							}
						}
					}

					h1, i{
						font-size: 3rem;
					}

					i{
						font-size: 5rem;
					}
				}
			}
		}
	}
}

@media (max-width: 690px){
	.backSection{
    width: 25px;
    height: 25px;
    font-size: 15px;
    line-height: 27px;
	}
	.contentLogin{
		&.table{
			@include flex-wrap(wrap);

			.form-group{
				min-width: calc(100% / 2);
				margin: 0;

				label{
					+ input{
			    	min-height: 1.4rem !important;
					}
				}
			}
		}
	}

	.contentTable{
    	max-height: 200px;

		table{
			td,th{
				padding: .05rem .1rem;
			}
		}
	}

	.center {
		input,label,button{
			font-size: 16px;
		}
	}
}

@media (max-width: 630px){
	nav{
		position: initial;

		ul{
			padding: .61rem .251rem;
			position: fixed;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100vw;
			background: rgba(23, 62, 116, 0.95);
			z-index: 100;
			@include flex(flex);
			@include flex-direction(column);
			@include justify-content(center);
			@include align-items(center);
			@include transition(transform .5s ease);
			@include transform-origin(top left);
			@include transform(rotate(-130deg));

			li{
				margin: .5rem;
				display: block;
				min-width: 86%;

				a{
					padding: .35rem .351rem;
			    min-height: 50px;
			    max-width: 100%;
			    line-height: 1.5 !important;
			    @include box-shadow(1px 2px 8px rgba(0,0,0,.5));

				}

		    &:nth-child(5){
		    	a{
		    		// line-height: 2.5;
		    	}
		    }
			}

			&.open{
				@include transform(rotate(0deg));
			}
		}
	}

	.contentArticle{
		max-width: 90%;

		button{
			padding: .25rem .5rem;
			font-size: 14px;
			margin-right: 11px;
		}
	}

	section {
		main{

			&[blue] {
				article{
					&:first-child{
						.contentArticle{
							min-height: 80%;
						}
					}
				}

				&.min{
					display: block;
					min-height: 100px;

					.third,
					.second,
					.first{
						padding: 1rem 0;
						width: 100%;

						h1{
							font-size: 3rem;
						}
					}

					.second{

						section{
							padding: 1rem;

							h2{
								font-size: 1.5rem;
							}

							p{
								font-size: 1.1rem;
							}

							div{
								font-size: 1rem;
							}
						}
					}
				}
			}
		}
	}

	.containerMenuMobile{
		text-align: center;
		color: white;
		display: block;
		margin-top: -5px;
		padding: 1rem 0;
		transition: background .25s ease;
		background: rgba(23, 62, 116, .951);

		&:hover{
			background: rgba(23, 62, 116, 1);
		}

		span{
			cursor: pointer;
			font-size: 27px;
			font-weight: 500;
		}
	}

	footer{
	    ul{
			bottom: 4rem;
		    width: 100%;
		    padding: .51rem 1rem;

	    	li{
	    		a{
					width: 30px;
					height: 30px;

	    			i{
	  			    	color: rgb(255, 255, 255);
		    			margin-top: .481rem;
		    			font-size: 16px !important;
	    			}
	    		}
	    	}
	    }
	}

	.contentArticle {
		h1{
			margin-bottom: .5rem;
			font-size: 2rem;
		}
	}
}

@media (max-width: 400px){
	.popup {
		.container {
			&[choose]{
				height: 50%;
			}

			.choose {
				> div {
					h1{
						font-size: 2rem;
					}
				}
			}
		}
	}

	.center {
		input{
			&[type="search"]{
				min-width: 150px;
			}
		}
	}

	.contentTable{
		&.individual{
			max-height: 300px;
		}

		table{
			th,td{
				font-size: 1rem;
			}
		}
	}
}

@media (min-width: 1300px){
	nav {
		ul{
			padding: 3rem 5rem 8rem;
		}
	}
}

@media (min-height: 660px){
	nav{
		ul{
			padding: 3rem 5rem;
		}
	}

	.contentTable, .contentTable.services {
    	max-height: 240px;
    }
}

@media (min-height: 790px){
	.contentTable, .contentTable.services  {
    	max-height: 210px;
    }
}