section{
	margin-top: -5px;

	main{
		@include flex(flex);

		> article{
			width: calc(100% / 2 - 2px);
			@include flex-item( 1 1 0% );
		}

		&[blue]{
			background: $blue;

			&.min{
				min-height: 200px;

				> div{
					display: inline-block;
					vertical-align: top;
				}

				.first{
					width: calc(100% / 2 - 10%);
					@include flex(flex);
					@include justify-content(center);
					@include align-items(center);

					h1{
						font-size: 4rem;
						color: white;
						text-align: center;
					}
				}

				.second{
					width: calc(100% / 2 + 10% - 1rem);

					section{
						padding: 2rem 4rem;
						text-align: center;
						color: white;

						h2{
							font-size: 2rem;
						}

						p{
							font-size: 1.3rem;
						}
					}
				}
			}

			article{
				text-align: center;
				overflow: hidden;

				&:first-child{
					position: relative;
					@include perspective(500px);
					@include flex-item( 1 1 10% );

					img{
						@include transition(all .5s ease);
						@include transform-origin(left center);
					}

					&:before{
						position: absolute;
						top: 0;
						left: 0;
						width: 150%;
						height: 100%;
						background: $white-alpha;
						content: '';
						@include transition(transform .5s ease);
						@include transform(skewx(-34deg) translatex(-200%));
					}

					&:hover{
						img{
							@include transform(rotatey(5deg));
						}

						&:before{
							@include transform(skewx(-34deg) translatex(-20%));
						}
					}
				}

				&:last-child{
					@include flex-item( 1 1 0% );

					&:hover{
						img{
							@include transform(scale(1.3));
						}
					}

					img{
						width: 100%;
						@include transition(transform 15s linear);
					}
				}
			}
		}

		&[gray]{
			background: $gray;
			
			article{
				text-align: center;
				overflow: hidden;

					&:first-child{
						&:hover{
						img{
							@include transform(scale(1.3));
						}
					}

					img{
						width: 100%;
						@include transition(transform 15s linear);
					}
				}

				&:last-child{
					position: relative;
					@include perspective(500px);

					img{
						@include transition(all .5s ease);
						@include transform-origin(center right);
					}

					&:before{
						position: absolute;
						top: 0;
						right: 0;
						width: 150%;
						height: 100%;
						background: rgba(255,255,255,.1);
						content: '';
						@include transition(transform .5s ease);
						@include transform(skewx(34deg) translatex(200%));
					}

					&:hover{
						img{
							@include transform(rotatey(-5deg));
						}

						&:before{
							@include transform(skewx(34deg) translatex(16%));
						}
					}
				}
			}
		}

		&:last-child{
			margin-top: -5px;
		}
	}
}