@import 'fonts';
@import 'variables';
@import 'functions';

*{ @include reset; @include box-sizing(border-box); }

a{
	text-decoration: none;
}

body,html{
	font-family: 'Myriam';
	font-size: 100%;
	@include init();
}

header{
	text-align: center;
}

img{
	max-width: 100%;
	height: auto;
}

label{
	font-weight: 100;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	margin: 0 .5rem;
}

nav {
	position: relative;

	img{
		width: 100%;
	}

	ul{
		position: absolute;
		bottom: 4px;
		left: 0;
		width: 100%;
		padding: 3rem 5rem;
		background: $blue-alpha;
		text-align: center;

		li{
			display: inline-block;
			vertical-align: top;

			a{
				display: block;
				padding: 1rem 2rem;
				color: $white;
				margin: 0 .5rem;
			  max-width: 170px;
			  background: $blue-alpha-link;
			  min-height: 92px;
			  cursor: pointer;
			  font-size: 25px;
			  @include transition(background .4s ease);
			  @include border-radius(3px);
				
				&.active,
				&:focus,
				&:hover{
					background: $gray-alpha;
				}
			}

			&:nth-child(2) a,
			&:nth-child(3) a,
			&:nth-child(4) a{
				line-height: 2.5;
			}
		}
	}
}

section{
	margin-top: -5px;

	main{
		@include flex(flex);

		> article{
			width: calc(100% / 2 - 2px);
			@include flex-item( 1 1 0% );
		}

		&[blue]{
			background: $blue;

			article{
				text-align: center;
				overflow: hidden;

				&:first-child{
					position: relative;
					@include perspective(500px);
					@include flex-item( 1 1 10% );

					img{
						@include transition(all .5s ease);
						@include transform-origin(left center);
					}

					&:before{
						position: absolute;
						top: 0;
						left: 0;
						width: 150%;
						height: 100%;
						background: $white-alpha;
						content: '';
						@include transition(transform .5s ease);
						@include transform(skewx(-34deg) translatex(-200%));
					}

					&:hover{
						img{
							@include transform(rotatey(5deg));
						}

						&:before{
							@include transform(skewx(-34deg) translatex(-20%));
						}
					}
				}

				&:last-child{
					@include flex-item( 1 1 0% );

					&:hover{
						img{
							@include transform(scale(1.3));
						}
					}

					img{
						width: 100%;
						@include transition(transform 15s linear);
					}
				}
			}
		}

		&[gray]{
			background: $gray;
				
				article{
					text-align: center;
					overflow: hidden;

						&:first-child{
							&:hover{
							img{
								@include transform(scale(1.3));
							}
						}

						img{
							width: 100%;
							@include transition(transform 15s linear);
						}
					}

					&:last-child{
						position: relative;
						@include perspective(500px);

						img{
							@include transition(all .5s ease);
							@include transform-origin(center right);
						}

						&:before{
							position: absolute;
							top: 0;
							right: 0;
							width: 150%;
							height: 100%;
							background: rgba(255,255,255,.1);
							content: '';
							@include transition(transform .5s ease);
							@include transform(skewx(34deg) translatex(200%));
						}

						&:hover{
							img{
								@include transform(rotatey(-5deg));
							}

							&:before{
								@include transform(skewx(34deg) translatex(16%));
							}
						}
					}
				}
		}

		&:last-child{
			margin-top: -5px;
		}
	}
}

.contentArticle{
	max-height: 50%;
	width: 400px;
	max-width: 100%;
	text-align: right;
	@include center-absolute(absolute);

	button{
		@include button;
	}
}

.containerMenuMobile{
	display: none;
}

footer {
	position: relative;
	background: $blue;
	margin-top: -5px;
	padding: 1rem 0 3rem;

	img{
		width: 100%;
	}

	ul{
		position: absolute;
		bottom: 5rem;
		left: 0;
		width: 70%;
		padding: 1rem 2rem;
		@include gradient(linear, (left,white, rgba(255,255,255,.2),transparent));

		li{
			display: inline-block;
			vertical-align: top;

			a{
				width: 40px;
				height: 40px;
				display: block;
				text-align: center;
				line-height: 1;
				margin: 0 .25rem;
				background: $blue;
				@include transition(background .15s ease);
				@include border-radius(50%);

				i{
					color: rgba(255,255,255,.7);
					margin-top: .551rem;
  				font-size: 24px !important;
  				@include transition(transform .15s ease);
				}

				&:hover{
					background: $gray;

					i{
						@include transform(scale(.8));
					}
				}

				&:active{
					background: $gray-alpha;

					i{
						@include transform(scale(1.05));
					}
				}

			}
		}
	}
}

.center{
	margin-top: 1rem;
	text-align: center;
	font-size: 20px;

	input{
		&[type="search"]{
			border-bottom: solid thin #173E74;
	    display: inline-block;
	    margin: 0 .5rem 0 0;
	    padding: .15rem .5rem;
	    vertical-align: top;
	    min-width: 200px;

			&:focus{
				outline: none;
			}
		}
	}

	input,
	label,
	button{
		font-size: 20px;
	}

	button{
		border: solid thin $blue;
	}

	label{
		vertical-align: bottom;
	}

	.span{
		display: block;
		color: $red;
		font-weight: bold;
		margin-top: .3rem;
	}
}

input,
button{
	font-family: 'Myriam';
}

button{
	display: inline-block;
	padding: .15rem .5rem;
	color: $white;
	cursor: pointer;
  background: $blue;
  font-size: 1rem;
  vertical-align: top;
  @include transition(all .3s ease);
  @include border-radius(2px);

  &:hover{
		background: $white;
		color: $blue;
  }
}

.contentTable {
	text-align: center;
	max-height: 290px;
	overflow: auto;

	table {
    display: inline-block;
    margin-top: 1rem;

    th{
    	background: #009fe3;
    	color: white;
    }

    td{
    	background: white;
    	color: #323232;
    }

    td,th{
    	padding: .25rem 1.3rem;
	    font-size: 1.3rem;
    }
  }
}

.contentUser{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $blue;
	padding: .25rem 1rem .15rem;
	text-align: right;
	z-index: 50;
	@include transform(translatey(-150%));
	@include transition(transform .25s ease);
	@include box-shadow(0 0 5px #323232);

	&.active{
		@include transform(translatey(0%));
	}

	a{
		color: white;
	}
}

@import 'popup';
@import 'login';
@import 'queries';