@import 'fonts';
@import 'functions';

*{ @include reset; @include box-sizing(border-box); }

a{
	text-decoration: none;
}

body,html{
	font-family: 'Myriam';
	@include init();
}

header{
	text-align: center
}

img{
	max-width: 100%;
	height: auto;
}

nav {
	position: relative;

	img{
		width: 100%;
	}

	ul{
		position: absolute;
		bottom: 4px;
		left: 0;
		width: 100%;
		padding: 3rem 5rem;
		background: rgba(23, 62, 116, 0.75);
		text-align: center;

		li{
			display: inline-block;
			vertical-align: top;

			a{
				display: block;
				padding: 1rem 2rem;
				color: white;
				margin: 0 .5rem;
			  max-width: 170px;
			  background: rgba(13, 73, 118, 0.78);
			  min-height: 92px;
			  transition: background .4s ease;
			  cursor: pointer;
			  font-size: 25px;
			  @include border-radius(3px);
				
				&.active,
				&:focus,
				&:hover{
					background: rgba(130,130,130,.8);
				}
			}

			&:nth-child(2) a,
			&:nth-child(3) a,
			&:nth-child(4) a{
				line-height: 2.5;
			}
		}
	}
}

section{
	margin-top: -4px;

	main{
		@include flex(flex);

		> article{
			@include flex-item( 1 1 0% );
			width: calc(100% / 2 - 2px);
			min-height: 7rem;
			// background: ;
		}

		&[blue]{
			background: #173E74;

			article{
				text-align: center;
				overflow: hidden;

				&:first-child{
					position: relative;
					@include perspective(500px);
					@include flex-item( 1 1 10% );

					img{
						@include transition(all .5s ease);
						@include transform-origin(left center);
					}

					&:before{
						position: absolute;
						top: 0;
						left: 0;
						width: 150%;
						height: 100%;
						background: rgba(255,255,255,.1);
						// z-index: -1;
						content: '';
						@include transition(transform .5s ease);
						@include transform(skewx(-34deg) translatex(-200%));
					}

					&:hover{
						img{
							@include transform(rotatey(5deg));
						}

						&:before{
							@include transform(skewx(-34deg) translatex(-20%));
						}
					}
				}

				&:last-child{
					@include flex-item( 1 1 0% );

					&:hover{
						img{
							@include transform(scale(1.3));
						}
					}

					img{
						width: 100%;
						@include transition(transform 15s linear);
					}
				}
			}
		}

		&[gray]{
			background: gray;
				
				article{
					text-align: center;
					overflow: hidden;

						&:first-child{
							&:hover{
							img{
								@include transform(scale(1.3));
							}
						}

						img{
							width: 100%;
							@include transition(transform 15s linear);
						}
					}

					&:last-child{
						position: relative;
						@include perspective(500px);

						img{
							@include transition(all .5s ease);
							@include transform-origin(center right);
						}

						&:before{
							position: absolute;
							top: 0;
							right: 0;
							width: 150%;
							height: 100%;
							background: rgba(255,255,255,.1);
							// z-index: -1;
							content: '';
							@include transition(transform .5s ease);
							@include transform(skewx(34deg) translatex(200%));
						}

						&:hover{
							img{
								@include transform(rotatey(-5deg));
							}

							&:before{
								@include transform(skewx(34deg) translatex(16%));
							}
						}
					}
				}
		}

		&:last-child{
			margin-top: -4px;
		}
	}
}

.contentArticle{
	@include center-absolute(absolute);
	max-height: 50%;
	width: 400px;
	max-width: 100%;
	text-align: right;

	button{
		background: #00ABFF;
		color: white;
		display: inline-block;
		padding: .5rem 1rem;
		text-transform: uppercase;
		font-weight: 300;
    font-family: 'Myriam';
    font-size: 17px;
		margin-right: 1.7rem;
		cursor: pointer;
		transition: all .35s ease;
		@include border-radius(1px);
		@include box-shadow(1px 2px 10px rgba(0,0,0,.4));

		&:focus{
			outline: none;
		}

		&:hover{
			@include box-shadow(1px 2px 15px rgba(0,0,0,.3));
			background: rgba(130, 130, 130, 0.9);
		}
	}
}

.containerMenuMobile{
	display: none;
}


footer {
	position: relative;
	background: #173E74;
	margin-top: -4px;
	padding: 1rem 0 3rem;

	img{
		width: 100%;
	}

	ul{
		position: absolute;
		bottom: 5rem;
		left: 0;
		width: 70%;
		padding: 1rem 2rem;
		@include gradient(linear, (left,white, rgba(255,255,255,.2),transparent));

		li{
			display: inline-block;
			vertical-align: top;

			a{
				width: 40px;
				height: 40px;
				display: block;
				text-align: center;
				line-height: 1;
				margin: 0 .25rem;
				background: #173E74;
				@include transition(background .15s ease);
				@include border-radius(50%);

				&:hover{
					i{
						@include transform(scale(.8));
					}
				}

				&:active{
					background: rgba(130, 130, 130, 1);

					i{
						@include transform(scale(1.05));
					}
				}

				i{
					color: rgba(255,255,255,.7);
					margin-top: .551rem;
  				font-size: 24px !important;
  				@include transition(transform .15s ease);
				}
			}
		}
	}
}

@import 'queries';