@import 'fonts';
@import 'variables';
@import 'functions';

*{ @include reset; @include box-sizing(border-box); }

::-webkit-scrollbar {
  width: 7px;
}
 
::-webkit-scrollbar-track {
	@include box-shadow(inset 0 0 6px rgba(0,0,0,0.3)); 
	@include border-radius(3px);
}
 
::-webkit-scrollbar-thumb {
	background: #009FE3;
	cursor: pointer;
  @include border-radius(3px);
  @include box-shadow(inset 0 0 6px rgba(0,0,0,0.5)); 
}

a{
	text-decoration: none;
}

body,html{
	font-family: 'Myriam';
	font-size: 100%;
	@include init();
}

header{
	text-align: center;
}

img{
	max-width: 100%;
	height: auto;
}

label{
	font-weight: 100;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	margin: 0 .5rem;
}

@import 'nav';
@import 'section';

.contentArticle{
	max-height: 50%;
	width: 400px;
	max-width: 100%;
	text-align: right;
	@include center-absolute(absolute);

	button{
		@include button;
	}
}

.containerMenuMobile{
	display: none;
}

@import 'footer';

.center{
	margin-top: 1rem;
	text-align: center;
	font-size: 20px;

	input{
		&[type="search"]{
			border-bottom: solid thin #173E74;
	    display: inline-block;
	    margin: 0 .5rem 0 0;
	    padding: .15rem .5rem;
	    vertical-align: top;
	    min-width: 200px;

			&:focus{
				outline: none;
			}
		}
	}

	input,
	label,
	button{
		font-size: 20px;
	}

	button{
		border: solid thin $blue;
	}

	label{
		vertical-align: bottom;
	}

	.span{
		display: block;
		color: $red;
		font-weight: bold;
		margin-top: .3rem;
	}
}

input,
button{
	font-family: 'Myriam';
}

button{
	display: inline-block;
	padding: .15rem .5rem;
	color: $white;
	cursor: pointer;
  background: $blue;
  font-size: 1rem;
  vertical-align: top;
  @include transition(all .3s ease);
  @include border-radius(2px);

  &:hover{
		background: $white;
		color: $blue;
  }
}

.contentTable {
	text-align: center;
	max-height: 283px;
	overflow: auto;
	margin: 0 .5rem;

	table {
    display: inline-block;
    margin-top: 1rem;

    th{
    	background: #009fe3;
    	color: white;
    }

    td{
    	background: white;
    	color: #323232;
    }

    td,th{
    	padding: .25rem 1.3rem;
	    font-size: 1.1rem;
	    @include border-radius(1px);

	    &:last-child{
	    	padding: .25rem;

	    	button{
  		    font-size: 14px;
			    padding: .15rem;
			    line-height: 1;
			    height: auto;
	    	}
	    }
    }
  }
}

.contentUser{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $blue;
	padding: .25rem 1rem .15rem;
	text-align: right;
	z-index: 50;
	@include transform(translatey(-150%));
	@include transition(transform .25s ease);
	@include box-shadow(0 0 5px #323232);

	&.active{
		@include transform(translatey(0%));
	}

	a{
		color: white;
	}
}

@import 'popup';
@import 'login';
@import 'queries';