$blue: #173E74;
$blue-secondary: #00ABFF;
$gray: gray;
$blue-alpha: rgba(23, 62, 116, 0.75);
$gray-alpha: rgba(130,130,130,.8);
$blue-alpha-link: rgba(13, 73, 118, 0.78);
$white: #fff;
$white-alpha: rgba(255,255,255,.1);
$red: #F70E0E;
$black-alpha: rgba(0,0,0,.5);