<!doctype html>
<html ng-app="conections">
	<head>
		<!-- Meta Tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="author" content="Daniel Mauricio Sanchez Avila" />
	
		<!-- Page Title -->
		<title>Conexiones</title>

		<!-- Humans -->
		<link type="text/plain" rel="author" href="humans.txt"/>

		<!-- Stylesheets Lybraries -->
		<link rel="stylesheet" href="stylesheets/font-awesome.css">
		<link rel="stylesheet" href="stylesheets/style.css">

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="favicon.png" id="favicon">
	</head>
	<body>
		<main>
			<header>
				<img src="images/logo.png" alt="Logo Conexiones">
			</header>
			<nav>
				<img src="images/foto-empresa.jpg" alt="Foto Emmpresa Conexiones">
				<ul>
					<li>
						<a href="#quienes-somos">
							Quienes Somos
						</a>
					</li>
					<li>
						<a href="#servicios">
							Servicios
						</a>
					</li>
					<li>
						<a href="#contacto">
							Contacto
						</a>
					</li>
					<li>
						<a href="#cubrimiento">
							Cubrimiento
						</a>
					</li>
					<li>
						<a href="#contacto">
							Responsabilidad Social
						</a>
					</li>
				</ul>
				<div class="containerMenuMobile">
					<span>Menu <i class="fa fa-navicon"></i></span>
				</div>
			</nav>
			<section>
				<main blue>
					<article ng-controller="followGuide">
						<div class="contentArticle">
							<img src="images/boton-seguimiento.png" alt="">
							<button type="button" ng-click="showGuide()">Ingrese Aquí</button>
						</div>
					</article>
					<article>
						<img src="images/camion.png" alt="">
					</article>
				</main>
				<main gray>
					<article>
						<img src="images/repartidor.png" alt="">
					</article>
					<article>
						<div class="contentArticle">
							<img src="images/boton-guia.png" alt="">
							<button type="button">Ingrese Aquí</button>
						</div>
					</article>
				</main>
			</section>
			<footer>
				<img src="images/foto-camiones.jpg" alt="">
				<ul>
					<li>
						<a href="#">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
				</ul>
			</footer>
		</main>

		<div class="popup" followGuide ng-controller="popup">
			<span class="closePopup" ng-click="close()">
				<i class="fa fa-close"></i>
			</span>
			<div class="container" choose>
				<div class="choose">
					<div class="individual" ng-click="open('individual')">
						<h1>
							Individual 
						</h1>
						<i class="fa fa-user"></i>
					</div>
					<div class="group" ng-click="open('group')">
						<h1>
							Empresa 
						</h1>
						<i class="fa fa-users"></i>
					</div>
				</div>
			</div>
			<div class="container" individual>
				<div class="individualContent">
					<img src="images/logo.png" alt="Logo Conexiones">
					<div class="center" ng-controller="searchGuide">
						<label for="txtSearchGuide">Guía</label>
						<input type="search" id="txtSearchGuide" placeholder="Ingrese El Número de La Guía" ng-model="valueSearch" name="txtSearchGuide" required>
						<button type="button" ng-click="search()">Buscar</button>
						<span>{{message}}</span>
					</div>
				</div>
			</div>
			<div class="container" group>
				<div class="groupContent">
					<img src="images/logo.png" alt="Logo Conexiones">
					<h1>Group</h1>
				</div>
			</div>
		</div>

		<script src="js/jquery.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/config.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>