/* line 3, ../sass/style.scss */
* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 9, ../sass/style.scss */
body, html {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 13, ../sass/style.scss */
header {
  text-align: center;
}

/* line 17, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 22, ../sass/style.scss */
nav {
  position: relative;
}
/* line 25, ../sass/style.scss */
nav img {
  width: 100%;
}
/* line 29, ../sass/style.scss */
nav ul {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  padding: 3rem 5rem;
  background: rgba(23, 62, 116, 0.75);
  text-align: center;
}
/* line 38, ../sass/style.scss */
nav ul li {
  display: inline-block;
  vertical-align: top;
}
/* line 42, ../sass/style.scss */
nav ul li a {
  display: block;
  padding: 1rem 2rem;
  color: white;
  margin: 0 .5rem;
  font-family: Helvetica;
  max-width: 170px;
  background: rgba(13, 73, 118, 0.78);
  min-height: 68px;
  transition: background .4s ease;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 55, ../sass/style.scss */
nav ul li a.active, nav ul li a:focus, nav ul li a:hover {
  background: rgba(130, 130, 130, 0.8);
}
/* line 62, ../sass/style.scss */
nav ul li:nth-child(2) a, nav ul li:nth-child(3) a, nav ul li:nth-child(4) a {
  line-height: 2.2;
}

/* line 71, ../sass/style.scss */
section {
  margin-top: -4px;
}
/* line 74, ../sass/style.scss */
section main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* line 77, ../sass/style.scss */
section main > article {
  -webkit-flex: 1 1 0%;
  -moz-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  -o-flex: 1 1 0%;
  flex: 1 1 0%;
  width: calc(100% / 2 - 2px);
  min-height: 7rem;
}
/* line 84, ../sass/style.scss */
section main[blue] {
  background: #173E74;
}
/* line 87, ../sass/style.scss */
section main[blue] article {
  text-align: center;
  overflow: hidden;
}
/* line 91, ../sass/style.scss */
section main[blue] article:first-child {
  -webkit-flex: 1 1 10%;
  -moz-flex: 1 1 10%;
  -ms-flex: 1 1 10%;
  -o-flex: 1 1 10%;
  flex: 1 1 10%;
  position: relative;
}
/* line 95, ../sass/style.scss */
section main[blue] article:first-child:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  -webkit-transition: transform 0.5s ease;
  -khtml-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: skewx(-34deg) translatex(-200%);
  -khtml-transform: skewx(-34deg) translatex(-200%);
  -moz-transform: skewx(-34deg) translatex(-200%);
  -ms-transform: skewx(-34deg) translatex(-200%);
  -o-transform: skewx(-34deg) translatex(-200%);
  transform: skewx(-34deg) translatex(-200%);
}
/* line 109, ../sass/style.scss */
section main[blue] article:first-child:hover:before {
  -webkit-transform: skewx(-34deg) translatex(-20%);
  -khtml-transform: skewx(-34deg) translatex(-20%);
  -moz-transform: skewx(-34deg) translatex(-20%);
  -ms-transform: skewx(-34deg) translatex(-20%);
  -o-transform: skewx(-34deg) translatex(-20%);
  transform: skewx(-34deg) translatex(-20%);
}
/* line 115, ../sass/style.scss */
section main[blue] article:last-child {
  -webkit-flex: 1 1 0%;
  -moz-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  -o-flex: 1 1 0%;
  flex: 1 1 0%;
}
/* line 119, ../sass/style.scss */
section main[blue] article:last-child:hover img {
  -webkit-transform: scale(1.3);
  -khtml-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
/* line 124, ../sass/style.scss */
section main[blue] article:last-child img {
  width: 100%;
  -webkit-transition: transform 15s linear;
  -khtml-transition: transform 15s linear;
  -moz-transition: transform 15s linear;
  -ms-transition: transform 15s linear;
  -o-transition: transform 15s linear;
  transition: transform 15s linear;
}
/* line 132, ../sass/style.scss */
section main[gray] {
  background: gray;
}
/* line 135, ../sass/style.scss */
section main[gray] article {
  text-align: center;
  overflow: hidden;
}
/* line 141, ../sass/style.scss */
section main[gray] article:first-child:hover img {
  -webkit-transform: scale(1.3);
  -khtml-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
/* line 146, ../sass/style.scss */
section main[gray] article:first-child img {
  width: 100%;
  -webkit-transition: transform 15s linear;
  -khtml-transition: transform 15s linear;
  -moz-transition: transform 15s linear;
  -ms-transition: transform 15s linear;
  -o-transition: transform 15s linear;
  transition: transform 15s linear;
}
/* line 152, ../sass/style.scss */
section main[gray] article:last-child {
  position: relative;
}
/* line 155, ../sass/style.scss */
section main[gray] article:last-child:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  -webkit-transition: transform 0.5s ease;
  -khtml-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: skewx(34deg) translatex(200%);
  -khtml-transform: skewx(34deg) translatex(200%);
  -moz-transform: skewx(34deg) translatex(200%);
  -ms-transform: skewx(34deg) translatex(200%);
  -o-transform: skewx(34deg) translatex(200%);
  transform: skewx(34deg) translatex(200%);
}
/* line 169, ../sass/style.scss */
section main[gray] article:last-child:hover:before {
  -webkit-transform: skewx(34deg) translatex(16%);
  -khtml-transform: skewx(34deg) translatex(16%);
  -moz-transform: skewx(34deg) translatex(16%);
  -ms-transform: skewx(34deg) translatex(16%);
  -o-transform: skewx(34deg) translatex(16%);
  transform: skewx(34deg) translatex(16%);
}
/* line 177, ../sass/style.scss */
section main:last-child {
  margin-top: -4px;
}

/* line 183, ../sass/style.scss */
.contentArticle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 50%;
  width: 400px;
  max-width: 100%;
  text-align: right;
}
/* line 190, ../sass/style.scss */
.contentArticle button {
  background: #00ABFF;
  color: white;
  display: inline-block;
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 1.7rem;
  cursor: pointer;
  transition: all .35s ease;
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
}
/* line 203, ../sass/style.scss */
.contentArticle button:focus {
  outline: none;
}
/* line 207, ../sass/style.scss */
.contentArticle button:hover {
  -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
  background: rgba(130, 130, 130, 0.9);
}

/* line 214, ../sass/style.scss */
.containerMenuMobile {
  display: none;
}

/* line 219, ../sass/style.scss */
footer {
  position: relative;
  background: #173E74;
  margin-top: -4px;
  padding: 1rem 0 3rem;
}
/* line 225, ../sass/style.scss */
footer img {
  width: 100%;
}

@media (max-width: 1050px) {
  /* line 232, ../sass/style.scss */
  nav ul {
    padding: 2rem;
  }
}
@media (max-width: 930px) {
  /* line 238, ../sass/style.scss */
  nav ul {
    padding: 1.5rem 1rem;
  }

  /* line 241, ../sass/style.scss */
  .contentArticle {
    max-height: 70%;
  }
}
@media (max-width: 900px) {
  /* line 248, ../sass/style.scss */
  nav ul {
    padding: 1.5rem .51rem;
  }
  /* line 252, ../sass/style.scss */
  nav ul li a {
    padding: .5rem 1rem;
    min-height: 50px;
  }
  /* line 258, ../sass/style.scss */
  nav ul li:nth-child(1) a {
    line-height: 2.2;
  }
}
@media (max-width: 780px) {
  /* line 269, ../sass/style.scss */
  nav ul {
    padding: 1rem .251rem;
  }
  /* line 273, ../sass/style.scss */
  nav ul li a {
    padding: .5rem .51rem;
    min-height: 50px;
    margin: 0 .15rem;
  }

  /* line 282, ../sass/style.scss */
  .contentArticle {
    max-width: 85%;
  }
}
@media (max-width: 630px) {
  /* line 288, ../sass/style.scss */
  nav {
    position: initial;
  }
  /* line 291, ../sass/style.scss */
  nav ul {
    padding: .61rem .251rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(23, 62, 116, 0.95);
    z-index: 100;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-transition: transform 0.5s ease;
    -khtml-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-transform-origin: top left;
    -khtml-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-130deg);
    -khtml-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  /* line 308, ../sass/style.scss */
  nav ul li {
    margin: .5rem;
    display: block;
    min-width: 86%;
  }
  /* line 313, ../sass/style.scss */
  nav ul li a {
    padding: .35rem .351rem;
    min-height: 40px;
    max-width: 100%;
    -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
  }
  /* line 321, ../sass/style.scss */
  nav ul.open {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 327, ../sass/style.scss */
  .contentArticle {
    max-width: 90%;
  }
  /* line 330, ../sass/style.scss */
  .contentArticle button {
    padding: .25rem .5rem;
    font-size: 11px;
    margin-right: 11px;
  }

  /* line 342, ../sass/style.scss */
  section main[blue] article:first-child .contentArticle {
    min-height: 80%;
  }

  /* line 351, ../sass/style.scss */
  .containerMenuMobile {
    text-align: center;
    color: white;
    display: block;
    margin-top: -4px;
    padding: 1rem 0;
    transition: background .25s ease;
    background: rgba(23, 62, 116, 0.951);
  }
  /* line 360, ../sass/style.scss */
  .containerMenuMobile:hover {
    background: #173e74;
  }
  /* line 364, ../sass/style.scss */
  .containerMenuMobile span {
    cursor: pointer;
    font-family: Helvetica;
  }
}
